@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('./shared/styles/normalize.css');

:root {
    --primary-color: #bb86fc;
    --panel-background: #444444bd;
    --general-background: #fff1;
    --panel-shadow-1: #ffffff15;
    --panel-shadow-2: #fff1;
    --panel-shadow-3: #ffffff1e;
    --half-white: #ffffff80;
    --header-color: #ffffffde;
}

#root {
    height: inherit;
    display: flex;
    background: var(--general-background);
}

body {
    margin: 0;
    font-family: sans-serif;
}

ul {
    margin: 0;
    padding: 10px 10px;
}

.auth-page {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.auth-formbox {
    background: var(--panel-background);
    box-shadow: 0 8px 10px var(--panel-shadow-1), 0 3px 14px var(--panel-shadow-2), 0 5px 5px var(--panel-shadow-3);
    padding: 24px 16px;
    border-radius: 12px;
    width: 340px;
}

.form-input_primary {
    box-sizing: border-box;
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: 1px solid var(--half-white);
    border-radius: 4px;
    padding: 16px;
    color: var(--half-white);
    margin: 16px 0;
}

.auth-header {
    color: var(--header-color);
    font-size: 24px;
    margin-bottom: 16px;
}

.form-input_primary:focus {
    outline: none;
    border-color: var(--primary-color);
    color: #fff;
}

.btn {
    display: block;
    box-shadow: none;
    border: none;
    border-radius: 4px;
    padding: 12px;
    box-sizing: border-box;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-weight: 500;

    &_primary {
        background-color: var(--primary-color);
        color: #000;
        margin: 16px 0;
    }

    &_link {
        color: var(--primary-color);
        text-transform: uppercase;
        padding: 10px;
    }

    &_wide {
        width: 100%;
    }
}
