@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('./shared/styles/normalize.css');

#root {
    height: inherit;
    display: flex;
}
