@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('./shared/styles/normalize.css');

#root {
    height: inherit;
    display: flex;
    background: #fff1;
}

body {
    background: url("./shared/images/background.png") center/cover no-repeat;
    margin: 0;
    font-family: sans-serif;
}

ul {
    margin: 0;
    padding: 10px 10px;
}

.auth-page {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.auth-formbox {
    background: #444444bd;
    box-shadow: 0 8px 10px #ffffff15, 0 3px 14px #fff1, 0 5px 5px #ffffff1e;
    padding: 24px 16px;
    border-radius: 12px;
    width: 340px;
}

.form-input_primary {
    box-sizing: border-box;
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    padding: 16px;
    color: rgba(255, 255, 255, 0.5);
    margin: 16px 0;
}

.auth-header {
    color: rgba(255, 255, 255, 0.87);
    font-size: 24px;
    margin-bottom: 16px;
}

.form-input_primary:focus {
    outline: none;
    border-color: #bb86fc;
    color: #fff;
}

.btn {
    display: block;
    box-shadow: none;
    border: none;
    border-radius: 4px;
    padding: 12px;
    box-sizing: border-box;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-weight: 500;

    &_primary {
        background-color: #bb86fc;
        color: #000;
        margin: 16px 0;
    }

    &_link {
        color: #bb86fc;
        text-transform: uppercase;
        padding: 10px;
    }

    &_wide {
        width: 100%;
    }
}
