#root {
    --space-unit: 16px;
    --space-xxxxs: calc(0.125 * var(--space-unit));
    --space-xxxs: calc(0.25 * var(--space-unit));
    --space-xxs: calc(0.375 * var(--space-unit));
    --space-xs: calc(0.5 * var(--space-unit));
    --space-sm: calc(0.75 * var(--space-unit));
    --space-md: calc(1.25 * var(--space-unit));
    --space-lg: calc(2 * var(--space-unit));
    --space-xl: calc(3.25 * var(--space-unit));
    --space-xxl: calc(5.25 * var(--space-unit));
    --space-xxxl: calc(8.5 * var(--space-unit));
    --space-xxxxl: calc(13.75 * var(--space-unit));
}

ul {
    padding: var(--space-xxxs) 0;
}

li {
    display: flex;
    padding: var(--space-xs) var(--space-unit);
    align-items: center;
}

h1 {
    font-size: 2.125rem;
    font-weight: 400;
    line-height: 1.235;
    text-align: center;
    margin: var(--space-lg);
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.334;
    text-align: center;
    margin: var(--space-md);
}

h3 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
    margin: var(--space-xs);
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

span {
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1;
}
