{
    "extends": [
        "airbnb-typescript"
    ],
    "parserOptions": {
        "project": "./tsconfig.eslint.json"
    },
    "rules": {
        "linebreak-style": "off",
        "indent": "off",
        "@typescript-eslint/indent": ["warn", 4, { "ignoredNodes": ["JSXElement *", "JSXElement"]}],
        "import/prefer-default-export": "off",
        "react/jsx-indent": [1, "tab", { "checkAttributes": true, "indentLogicalExpressions": true }],
        "arrow-body-style": ["warn", "as-needed"],
        "no-tabs": ["error", { "allowIndentationTabs": true }],
        "react/prop-types": "off",
        "react/jsx-indent-props": [2, "tab"]
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js", ".jsx", ".ts", ".tsx"],
                "paths": ["./client"]
            }
        }
    }
}
