.input-control {
    margin: var(--space-xxs);
    position: relative;
    flex-grow: 1;

    span {
        color: var(--color_primary);
        margin-left: var(--space-xs);
    }

    label {
        top: var(--space-unit);
        left: var(--space-xs);
        color: var(--color_text);
        position: absolute;
        font-size: 1rem;
        background: var(--color_background);
        transition: 0.3s;
        pointer-events: none;
    }

    input {
        top: 0;
        left: 0;
        color: var(--color_text);
        width: 100%;
        border: 1px solid var(--color_default);
        margin: 0;
        outline: none;
        padding: var(--space-xs);
        position: relative;
        font-size: 1rem;
        background: transparent;
        box-sizing: border-box;
        line-height: 1.5;
        border-radius: var(--space-xs);
        background-color: var(--color_background);

        &:focus {
            color: var(--color_primary);
            border-color: var(--color_primary);

            & ~ label {
                color: var(--color_primary);
            }
        }

        &:not(:placeholder-shown) ~ label {
            font-size: 0.8rem;
            transform: translateX(var(--space-xs)) translateY(calc(-1 * var(--space-md)));
            line-height: 1;
        }
    }
}
