
.button {
    cursor: pointer;
    height: 100%;
    outline: none;
    margin: var(--space-xxs);
    padding: var(--space-xs);
    border: 0;
    background-color: transparent;
    box-sizing: border-box;
    transition: 0.5s;
    border-radius: var(--space-xxs);

    &_with-icon {
        display: flex;
        align-items: center;
    }

    &_circle {
        border-radius: 100%;
    }
}
