.paper {
    border-radius: var(--space-xs);
    padding: var(--space-xs);

    &__title {
        font-weight: normal;
        margin: var(--space-sm) 0 var(--space-lg);
        font-size: 24px;
        line-height: 24px;
        letter-spacing: 0.18px;
        color: #fff;
    }

    &_sizes_full {
        width: 100%;
        height: 100%;
    }

    &_sizes_small {
        width: 340px;
    }

    &_theme_dark {
        background-color: #444444d4;
        color: #fff;
        box-shadow: 0 2px 7px #000;
    }
}
