.paper {
    border-radius: var(--space-xs);
    padding: var(--space-unit);

    &_small {
        width: 340px;
        padding: var(--space-xs);
    }

    &_theme_dark {
        background-color: #444444d4;
        color: #fff;
        box-shadow: 0 2px 7px #000;
    }
}
