.paper {
    border-radius: var(--space-xs);
    padding: var(--space-xs);

    &_sizes_full {
        width: 100%;
        height: 100%;
    }

    &_sizes_small {
        width: 340px;
    }

    &_theme_dark {
        background-color: #444444d4;
        color: #fff;
        box-shadow: 0 2px 7px #000;
    }
}
