.home__avatar_small {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(207, 207, 207);
    margin-bottom: 12px;
}

.home__navigation-items {
    padding: 22px 0 16px;
}

.home__navigation-items li {
    padding: 6px;
}

.home__navigation-items li:hover {
    background-color: #ffffff1a;
    cursor: pointer;
}

.home__navigation-items li a {
    padding: 6px 0;
    text-decoration: none;
    color: #fff;
    width: 100%;
}

.divider {
    height: 1px;
    background-color: #ffffff1a;
}

.home__paper {
    padding: 22px;
}

.home__userdata {
    padding: 0 6px 22px;
}

.home__username {
    font-size: 18px;
    font-weight: 600;
}
