.home__avatar_small {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #cfcfcf;
    margin-bottom: var(--space-sm);
}

.home__navigation-items {
    padding: var(--space-md) 0 var(--space-sm);
}

.home__navigation-items li {
    padding: var(--space-xs);
}

.home__navigation-items li:hover {
    background-color: #ffffff1a;
    cursor: pointer;
}

.home__navigation-items li a {
    padding: var(--space-xs) 0;
    text-decoration: none;
    color: #fff;
    width: 100%;
}

.home__paper {
    padding: var(--space-md);
}

.home__userdata {
    padding: 0 var(--space-xs) var(--space-md);
}

.home__username {
    font-size: 18px;
    font-weight: 600;
}

.home__user-result {
    font-size: 12px;
    opacity: 0.6;
}

.home__header {
    font-size: 16px;
    text-transform: uppercase;
    margin: var(--space-md);
}
