.divider {
    border: none;
    height: 1px;
    margin: var(--space-xs) var(--space-unit);
    flex-shrink: 0;
    background-color: var(--color_default);

    &_vertical {
        width: 1px;
        height: auto;
        margin: 0;
    }
}
