.chip {
    outline: none;
    margin: var(--space-xxs);
    padding: var(--space-xxxxs) var(--space-xxs);
    background-color: transparent;
    box-sizing: border-box;
    transition: 0.5s;
    border-radius: var(--space-unit);
    display: flex;
    align-items: center;

    button {
        margin-left: var(--space-xxs);
    }
}
